---
layout: default
---


    <!-- Header Item -->
        <div id="header" class="item" data-width="400">
            <div class="inner">
                <h1>Photography</h1>
                <p>Erika<br />
                Krapavickaite</p>
            </div>
        </div>

        <!--getting images from config.yml-->
        {% for image in site.images %}
            <article class="item thumb" data-width="{% if image.width %}{{ image.width }}{% else %}282{% endif %}">
                <h2>{{ image.title }}</h2>
                <a href="/{{ site.baseurl}}/{{ image.image_full_path }}" class="image"><img src="{{ image.image_thumb_path }}" alt=""></a>
            </article>
        {% endfor %}
    